.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: #ffffff;
  border: none;
  width: 100%;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {
  .megamenu .dropdown-menu {
    position: static;
    transform: none;
    background-color: #fff;
    border: none;
    box-shadow: none;
  }
}
/* ---------------custom styling to override bootstrap design---------------------------- */

.active{
    color: red;
}


.customBtn {
    background: #2C2D5B;
    color: white;   
    &:hover{
        background-color: #7172c4;
        color: white;
    }
  }

  .bg-white{
    background-color: #ffffff;
  }

  .bold{
    font-weight: 500;
  }

.bg-icon{
  background: #2C2D5B;
}
  .bg-footer{
    background-color:  #2C2D5B;
    ;
  }


  @media (350px < width< 480) {
    .drop-menu{
        max-width: 300px;
    }
}